@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    padding-top: 0;
}

.intro{
    height: 100vh;
    background: #e0e6ff;
}

._about{
    height: 100%;
    background: #000000;
}

._about .about_container{
    padding-top: 2rem;
}

._about .about_info{
    padding-top: 4rem;
}

._about h1{
    padding-top: 12.5px;
    z-index: 1;
    color: #f8b436;
}

._about .head_about{
    margin-top: 2cm;
}

._about .head_about .titel_bg{
    position: absolute;
    font-size: 5rem;
}

.skill_about{
    padding-bottom: 30px;
}

.text_info{
    padding: 22px;
}

.separator{
    margin-top: 2cm;
    margin-bottom: 2.5cm;
}

.intro .text_info span{
color: #f8b436;
}

body::-webkit-scrollbar{
    display: none;
  }

.text-slogan{
    font-size: 30px;
    color: #f8b436;
}

.imgs_skills{
    width: 100px;
    height: auto;
}

.navbar-brand{
    font-size: 50px;
}

.navbar-nav{
    font-size: 20px;
}

.img_about{
    width: 50px;
    height: auto;
}
