@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    padding-top: 3.5rem;
}

.intro{
    height: 94.2vh;
    background: #e0e6ff;
}

._about{
    background: #000000;
}

._about .about_container{
    padding-top: 2rem;
}

._about .about_info{
    padding-top: 4rem;
}

._about h1{
    padding-top: 12.5px;
    z-index: 1;
    color: #f8b436;
}

._about .head_about{
    margin-top: 2cm;
}

._about .head_about .titel_bg{
    position: absolute;
    font-size: 5rem;
}

.text_info{
    padding-right: 10cm;
}

.separator{
    margin-top: 3cm;
    margin-bottom: 3cm;
}


/*.home{
    width: 100%;
    height: 100vh;
    background: #e5edff;

}

.about{
    width: 100%;
    height: 100vh;
    background: black;
    padding: 100px;
}

.navbar{
    justify-content: end;
}

nav ul {
    list-style: none;

}

nav ul li { 
    text-align: center;
    border-radius: 2px;
    width: 3.5cm;
    height: 1.5cm;
    border: 2px solid black;
    line-height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}


nav ul li a:hover{
    color: orange;
}

nav ul li:hover{
    
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.detel{
    position: absolute;
    top: 0;
    margin-left: 8%;
    margin-top: 20%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: 0.5 ease-in-out;
}

.detel a:hover{
    background: rgb(224, 167, 61);
    color: white;
}

span{
    color: orange;
}
*/
.images{
    width: 41.7%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 5cm;
}
.images img{
    height: 100%;
    position: absolute;
    bottom: 0;
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

/*.titel_bg{
    position: absolute;
    font-size: 5rem;
    opacity: 0.5;
}


/*
.social{
    width: 100vw;
    display: inline-flex;
}

.social .icon-contact{
    margin-left: 10px;
    font-size: 50px;
    color: #000;
}


.social .icon-contact:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
*/
