@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    padding-top: 0;
}

.intro{
    height: 100vh;
    background: #e0e6ff;
}

._about{
    height: 160vh;
    background: #000000;
}

._about .about_container{
    padding-top: 2rem;
}

._about .about_info{
    padding-top: 4rem;
}

._about h1{
    padding-top: 12.5px;
    z-index: 1;
    color: #f8b436;
}

._about .head_about{
    margin-top: 2cm;
}

._about .head_about .titel_bg{
    position: absolute;
    font-size: 5rem;
}

._contact{
    height: 20vh;
}

._contact .contact_container{
    padding-top: 4rem;
}

.text_info{
    padding-right: 5cm;
}

.separator{
    margin-top: 2cm;
    margin-bottom: 2.5cm;
}

.intro .text_info span{
color: #f8b436;
}

body::-webkit-scrollbar{
    display: none;
  }

.images{
    width: 41.7%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 5cm;
}
.images img{
    height: 100%;
    position: absolute;
    bottom: 0;
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.imgs_skills{
    width: 130px;
    height: auto;
}

.navbar-brand{
    font-size: 30px;
}

.navbar-nav{
    font-size: 20px;
}

.img_about{
    width: 50px;
    height: auto;
}
